* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.header-of-page {
  width: 100%;
  background-color: #017d7c;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 90px;
  margin-left: 105px;
}

.sections-block {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.sections-of-header {
  color: #fabf01;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sections-of-header:hover {
  background-color: #0090a4;
  cursor: pointer;
}

.main-container {
  width: 72%;
  min-width: 500px;
  margin: 0 auto;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 130px;
  margin-right: 4%;
  border: 1px solid #fabf01;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
  background: #fabf01;
  background-image: url(./images/plus.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.plan-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 302px;
  flex-direction: row;
  border-radius: 10px;
  margin: 30px auto;
}

.plan {
  border-radius: 10px;
  margin: 10px;
  width: 30%;
  min-width: 292px;
  min-height: 280px;
  height: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.41);
}

.content-main-focus {
  margin-top: 50px;
  font-size: 35px;
  text-align: center;
}

.content-description {
  width: 100%;
  display: flex;
  margin-top: 10px;
  font-size: 12px;
}

.content-left-description {
  width: 50%;
  line-height: 15px;
  margin-top: 10px;
  margin-right: 5px;
  border-right: 1px solid rgb(0, 0, 0, 0.3);
}

.content-right-description {
  width: 50%;
  line-height: 15px;
  margin-top: 10px;
  margin-left: 5px;
}

.mini-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #017d7c;
  color: white;
}

.mini-button:hover {
  cursor: pointer;
}

.edit {
  position: absolute;
  top: 5px;
  right: 45px;
  background-image: url(./images/edit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.delete {
  position: absolute;
  top: 5px;
  right: 10px;
}

footer {
  width: 72%;
  margin: 0 auto;
}

#add {
  outline: none;
}

hr {
  background: #588da8;
}

.seperator {
  width: 72%;
}

.pop-up {
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* width: 800px; */
  border-radius: 10px;
  padding: 30px;
  padding-top: 60px;
  z-index: 999;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.piggy-boom {
  width:100%;
  position: relative;
  margin: 0 auto;
}

.table tbody tr th {
  text-align: center;
}
.table tbody tr td {
  text-align: center;
}

.info-block {
  display: flex;
  justify-content: center;
}

.input-field {
  width: 200px;
}

.input-form {
  width: 400px;
  height: 230px;
}

.single {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.offer {
  display: flex;
  display: none;
  flex-direction: column;
}

#error-caption {
  color: red;
}

.calc-div {
  display: flex;
  justify-content: center;
}

#loading-icon {
  margin-left: 5px;
  height: 2em;
}

.list-group {
  width: 300px;
  margin-bottom: 20px;
}

.submit-or-cancel {
  display: flex;
  justify-content: space-evenly;
}

.close {
  position: absolute;
  right: 30px;
  top: 10px;
  color: red;
}

.pig-wait {
  width: 300px;
  margin-top: -50px;
}
.error {
  color: red;
}

.hidden {
  display: none;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}